body { 
	
	margin: 0px;
	
}

.row p{
	color: white;
	background-color: green;
	padding: 5px 10px 10px 10px;
	height: 1000px;	
}

.dish {
	font-size: 1.5em;
	text-align: center;
	color: white;
	background-color: green;
	padding-top: 5px;
	text-align: center;
}

.navbar {
	background-color: yellow;
		
}

.navbar {
	position: relative;
}

